html, body {
  margin: 0;
  padding: 0;

}

canvas {
  display: block;
}


.button {
margin-left: 3250px;
margin-top: -450px;
}

.propostes {
margin-left: 3850px;
margin-top: -200px;
}

.text1 {
margin-left: 1800px;
margin-top: 200px;
}

.text2 {
margin-left: 3000px;
margin-top: -2000px;
}